<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="DDS2PNG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<DDS2PNG.Properties.Settings>
   <setting name="CompressionLevel" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SeparateMaps" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IgnoreMaps" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SeparateBySize" serializeAs="String">
    <value>True</value>
   </setting>
  </DDS2PNG.Properties.Settings>
	</applicationSettings>
</configuration>